In [1]:
# Importing Pandas and NumPy
import pandas as pd, numpy as np

In [2]:
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
df1 = pd.read_excel("test1.xlsx")

In [9]:
df1

   Policy_Id  Claim_Id  Claim Amount
0          1      21.0           200
1          2      34.0           600
2          3       NaN           500
3          4      54.0           800
4          5       NaN           900
5          2      45.0           500
6          2      34.0           600
7          4      45.0           700
8          1      45.0           800

In [5]:
df2 = pd.read_excel("test2.xlsx")

In [6]:
df2.head()

   Policy_Id  Premium
0          1     2000
1          2     3000
2          3     5000
3          4     7000
4          5     8000

In [7]:
df3 = df1.merge(df2,on='Policy_Id',how='left')

In [10]:
df3

   Policy_Id  Claim_Id  Claim Amount  Premium
0          1      21.0           200     2000
1          2      34.0           600     3000
2          3       NaN           500     5000
3          4      54.0           800     7000
4          5       NaN           900     8000
5          2      45.0           500     3000
6          2      34.0           600     3000
7          4      45.0           700     7000
8          1      45.0           800     2000

In [25]:
round(df3.groupby(by='Policy_Id')['Claim Amount'].sum()/df3.groupby(by='Policy_Id')['Premium'].agg(pd.Series.mode)*100,2)

Policy_Id
1    50.00
2    56.67
3    10.00
4    21.43
5    11.25
dtype: float64